<!DOCTYPE html>
<html lang="ja">
  <head>
     <link rel="stylesheet" href="books.sccs">
  </head>

  <body>
    <h1>Books</h1>
    <%  @books.each do |book|  %>
    <!--テーブルタグ-->
    <!--３列-->
    <!--１行目 Title, Body-->
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
    </table>
    <p>Title</p>
  <!--一覧画面から詳細画面へ遷移するリンク-->
  <!-- book_path(book.id)で、レコードのidカラムを指定する-->
    <span>
     <%= link_to book.title, book_path(book.id) %>
    </span>

    <p>Body</p>
    <span>
      <%= link_to book.body, book_path(book.id) %>
    </span>

    <% end %>
  </body>
</html>